<div class="row">
    <div class="col-md-5">
      <span class="boldstyle">About Me</span>
      <br>
      <br>
      <p>This application is intended to upload your recipe to this website. Mainly, this site is designed only for family members.</p>
      <p>Currently, this application enhancement is in progress. In the future, you will see more added features.</p>
      <p>If you have any suggestions to improve this application, You can write your suggestions to <a>krishav43@gmail.com</a>.</p>
      <br>
      <span class="boldstyle">Developer</span>: <span style="font-style: italic;">Rishav Kumar</span>
      <!-- <app-recipe-list (recipeWasSelected)="selectRecipe=$event"></app-recipe-list> -->
      <br>
      <br>
      <img src="/assets/about.jpg" alt="image" height="200px" width="200px">
    </div>
</div>