<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="addIngredient()" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="nameInput" ngModel required #nameInput="ngModel">
          <span class="help-block" *ngIf="!nameInput.valid && nameInput.touched">Please select an name of Ingredient</span>
        </div>

        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" class="form-control" id="amount" name="amountInput" ngModel required [pattern]="'[0-9]+'"#amountInput="ngModel">
          <span class="help-block" *ngIf="!amountInput.valid && amountInput.touched">Select the amount</span>
        </div>

      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!f.valid">{{ editMode ? "Update":"Add"}}</button>&nbsp;
          <button type="button" class="btn btn-danger" (click)="onDelete()" *ngIf="editMode">Delete</button>&nbsp;
          <button type="reset" class="btn btn-primary" (click)="onClearForm()">Clear</button>
        </div>
      </div>
      
    </form>
  </div>
</div>